<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Spring FW will read this .xml file, create bean and put it in Application Context -->
    <!--lesson 2-->
<!--    <bean id="myBean" class="ie.yyyura.springfw.MyBean">-->
<!--        <constructor-arg value="Yura"/>-->
<!--    </bean>-->



</beans>